USE [master]
GO
/****** Object:  Database [adminDB]    Script Date: 10.5.2019 08:06:13 ******/
CREATE DATABASE [adminDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'adminDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\adminDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'adminDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\adminDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [adminDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [adminDB]
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 10.5.2019 08:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[Id] [int] NULL,
	[kulad] [varchar](20) NULL,
	[parola] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblAdmin] ([Id], [kulad], [parola]) VALUES (1, N'admin', N'123')
INSERT [dbo].[tblAdmin] ([Id], [kulad], [parola]) VALUES (2, N'gorkem', N'95')
USE [master]
GO
